@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.enlarged-image-container {
  overflow: hidden;
}

.enlarged-image-container::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

.enlarged-image-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 6px;
}

.enlarged-image-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0);
}

.enlarged-image-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.bounce-on-hover:hover {
  animation: bounce 1s;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.hero {
  background-image: url('../public/heroImg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  text-align: center;
  padding: 100px 0;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.hero h1 {
  font-size: 48px;
  font-family: 'Spline Sans Mono', monospace;
}

.hero p {
  font-size: 24px;
}

.flip-on-hover {
  transition: transform 0.3s ease;
}

.flip-on-hover:hover {
  transform: rotateX(360deg);
}

.spin {
  transition: transform 0.5s;
}

.spin:hover {
  transform: rotate(360deg);
}

.icon-scrolling {
  font-size: 1rem; /* Set the initial icon size when scrolling */
  transition: font-size 0.5s ease-in-out; /* Add a transition for font-size */
}

.icon-not-scrolling {
  font-size: 1.5rem; /* Set the original icon size when not scrolling */
  transition: font-size 0.5s ease-in-out; /* Add a transition for font-size */
}

.logo-scrolling {
  width: 2rem; /* Set the initial width for the logo when scrolling */
  height: 2rem; /* Set the initial height for the logo when scrolling */
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out; /* Add a transition for width and height */
}

.logo-not-scrolling {
  width: 2.5rem; /* Set the original width for the logo when not scrolling */
  height: 2.5rem; /* Set the original height for the logo when not scrolling */
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out; /* Add a transition for width and height */
}

.navbar-not-scrolling {
  background-color: transparent; /* Set the original background color to transparent */
  transition: background-color 1s ease-in-out; /* Add a transition for background-color */
}

.navbar-scrolling {
  background-color: rgba(0, 0, 0, 0.3); /* Set the final background color */
  transition: background-color 1s ease-in-out; /* Add a transition for background-color */
}
